<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../includes//css/lesson4Style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="/includes/js/lesson4.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <h1> <a style="color: white;" href="/index.html"><i class="fa fa-arrow-left"></i></a> &nbsp Todos!</h1> 
    </header>

    <main>
      <section id="todos">
        <h2>My Todos</h2>
        <input type="text" v-model="todo" @keyup.enter="addTodo"/>
        <button @click="addTodo">Add Todo</button>
        <p v-if="todos.length === 0">No todos have been added yet - please start adding some!</p>
        <p v-show="todos.length > 0">Click the todo to remove it!</p>
        <ul v-else>
          <li v-for="(Todo, index) in todos" @click="removeTodo(index)">{{Todo}}</li>
        </ul>
      </section>
    </main>
  </body>
</html>
